.titulo{
  font-size: 90px;
  text-align: center;
  color: #FF1493
}

.capa-imagem{
  width: 500px;
  padding-left: 660px;
  text-align: center;
}

.tabela-valores{
  font-size: 50px;
  text-align: center;
}

.valor{ 
  align-items: stretch;
}